<h1>Howdy <%= current_user.username %></h1>

<table>
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Calories Burned</th>
    </tr>
  </thead>
  <tbody>
    <% @exercises.each do |exercise| %>
    <tr>
      <td><%= exercise.exercise_name %></td>
      <td><%= exercise.calories_burned %>
        <%= link_to "Edit", edit_user_exercise_path(@user, exercise) %> |
        <%= link_to "Delete", user_exercise_path(@user, exercise), method: "Delete" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<hr>
<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
    <tr>
      <td><%= food.food_name %></td>
      <td><%= food.calories %>
        <%= link_to "Edit", edit_user_food_path(@user, food) %> |
        <%= link_to "Delete", user_food_path(@user, food), method: "Delete" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<hr>
<%= link_to "Add an Exercise", new_user_exercise_path(current_user) %> |
<%= link_to "Add a Food", new_user_food_path(current_user) %>
