<h1>Howdy <%= current_user.username %></h1>

<%= form_tag user_path, method: 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<div id="tables">
  <%= render 'tables' %>
</div>
<hr>
<%= link_to "Add an Exercise", new_user_exercise_path(current_user) %> |
<%= link_to "Add a Food", new_user_food_path(current_user) %>
